html, body {
    color: white;
    background-color: #053605;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, Arial, sans-serif;
}

h1 {
    margin:0.5em;
}

#dealerCards img {
    width: 4em;
    height: 6em;
    margin: 1px;
}



#playerCards img {
    width: 4em;
    height: 6em;
    margin: 1px;
    float: center;
}

#hit, #stand {
    background-color: goldenrod;
    color:black;
    font-size: 1.5em;
    font-style: bold;
    width: 5.5rem;
    margin: 0.1rem;
    border: .01rem;
    border-style: solid;
    border-color: gold;
    border-radius: 10%;
}