html, body {
    color: white;
    background-color: #053605;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, Arial, sans-serif;
}

h1 {
    margin:0.5em;
}

#dealerCards img {
    width: 4em;
    height: 6em;
    margin: 1px;
}



#playerCards img {
    width: 4em;
    height: 6em;
    margin: 1px;
    float: center;
}

